:root{
  --primary-color: #37474f;
  --secondary-color: #eceff1;
  --shadow: #102027;
  --title-color: #212121;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000000;
  padding-left: 250px;
}
main {
  position: relative;
  height: 100vh;
}
.menu {
  background: whitesmoke;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  color: black;
  border-right: 1px black solid;
}
.menu .foto {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .foto img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .foto h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 2em 2em 2em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li.inicio {
  background-image: url("Img/casa.png");
}
.menu ul li.artis {
  background-image: url("Img/podcast.png");
}
.menu ul li.perfil {
  background-image: url("Img/insignia.png");
}
.menu ul li.pago {
  background-image: url("Img/banca-en-linea.png");
}
.menu ul li.opciones {
  background-image: url("Img/configuraciones.png");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu .foto {
    padding: 0.5em;
    position: relative;
  }
  .menu .foto img {
    width: 60px;
  }
  .menu .foto h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .foto:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #5bc995;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}

h1{
  font-family: 'PT Sans', sans-serif;
  color: var(--title-color);
}

h2{
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  margin: 4px;
  color: gray;
}

.Portada{
  width: 100%;
  height: 30vh;
  background: #377375;
}
.Portada img{
  width: 100%;
  height: 30vh;
}

.Perfilusuario{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  width: 100%;
  height: auto;
}

.foto-de-perfil{
  position: relative;
  bottom: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  background-image: url(Img/hola.jpg);
  background-size: cover;
}

.Datos1{
  text-align: center;
}

.Perfil1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; 
  width: 300px;
  min-width: 340px;
  height: auto;

}

.Contenido{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  margin: 18px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.Fondo{
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 70px;
  height: 70px;
  background: var(--primary-color);
  border-radius: 50%;
}
.Contenido h2{
  font-size: 15px;
}
.material-icons{
  color: #fff;
}